<!DOCTYPE html>
<html>

<head>

    <title>

        Wishlist

    </title>

</head>

<body>

    <h1>

        My Wishlist

    </h1>

    {% if products %}

    {% for product in products %}

    
        <div>

            {% if product.image %}

            {% if product.image.startswith('http') %}

            <img src="{{ product.image }}" width="120">

            {% else %}

            <img src="/static/uploads/{{ product.image }}" width="120">

            {% endif %}

            {% endif %}

            <h3>
                {{ product.name }}
            </h3>

            <p>
                ₦{{ product.price }}
            </p>






            <a href="/product/{{ product.id }}">

                View Product

            </a>

            <br><br>

            <a href="/remove-from-wishlist/{{ product.id }}">

                Remove

            </a>

            <hr>

        </div>

        {% endfor %}

        {% else %}

        <p>

            Your wishlist is empty.

        </p>

        {% endif %}



        <script src="{{ url_for('static', filename='js/script.js') }}"></script>

        {% if toast %}

        <script>

            document.addEventListener("DOMContentLoaded", function () {

                showToast("{{ toast }}");

            });

        </script>

        {% endif %}


</body>

</html>